<a href="https://colab.research.google.com/github/ykitaguchi77/oculoplastics_AI/blob/main/Questionaire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
Date = '2021-09-03' #@param {type:"date"}
Surgeon = 'Kitaguchi' #@param ["Unknown", "Noda", "Zheng", "Katou", "Kitaguchi"]
Patient_ID = '123' #@param {type:"string"}
Age = 46 #@param {type:"slider", min:0, max:100, step:1}
Gender = 'Male' #@param ["Unknown", "Male", "Female"]
Situation = 'postOP 1M' #@param ["Unknown", "preOP", "postOP 1M"]
#@markdown ---

#@markdown ##**目が疲れる**
q1 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ##**目の奥が痛い**
q2 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ##**目が乾く**
q3 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ##**焦点が合いづらい**
q4 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ##**ものが2重に見える**
q5 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ##**頭痛がする**
q6 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ## **肩がこる**
q7 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ## **ものがちらついて見える**
q8 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ## **いらいらする**
q9 = 50 #@param {type:"slider", min:0, max:100, step:1}
#@markdown ## **寝つきが悪い**
q10 = 50 #@param {type:"slider", min:0, max:100, step:1}


from IPython.display import display
import pandas as pd

print("Date: "+str(Date))
print("Surgeon: "+str(Surgeon))
print("Patient_ID: "+str(Patient_ID))
print("Age: "+str(Age))
print("Gender: "+ Gender)
print("Situation: "+ Situation)

df = pd.DataFrame(index=range(10), columns=['items', 'scores'])
df.iloc[0,:] = ["目が疲れる", q1] 
df.iloc[1,:] = ["目の奥が痛い", q2] 
df.iloc[2,:] = ["目が乾く", q3] 
df.iloc[3,:] = ["焦点が合いづらい", q4] 
df.iloc[4,:] = ["ものが2重に見える", q5] 
df.iloc[5,:] = ["頭痛がする", q6] 
df.iloc[6,:] = ["肩がこる", q7] 
df.iloc[7,:] = ["ものがちらついて見える", q8] 
df.iloc[8,:] = ["いらいらする", q9] 
df.iloc[9,:] = ["寝つきが悪い", q10] 

display(df)

print("")

df2 = pd.DataFrame(index = range(1), columns = ['Surgeon', 'Patient_id', 'Age', 'Gender', 'Date', 'Situation', 'q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10'])
df2.iloc[0, :] = [Surgeon, Patient_ID, Age, Gender, Date, Situation, q1, q2, q3, q4, q5, q6, q7, q8, q9, q10]
display(df2)

Date: 2021-09-03
Surgeon: Kitaguchi
Patient_ID: 123
Age: 46
Gender: Male
Situation: postOP 1M

         items scores
0        目が疲れる     50
1       目の奥が痛い     50
2         目が乾く     50
3     焦点が合いづらい     50
4    ものが2重に見える     50
5        頭痛がする     50
6         肩がこる     50
7  ものがちらついて見える     50
8       いらいらする     50
9       寝つきが悪い     50

     Surgeon Patient_id Age Gender        Date  ...  q6  q7  q8  q9 q10
0  Kitaguchi        123  46   Male  2021-09-03  ...  50  50  50  50  50

[1 rows x 16 columns]